In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/people2.csv')
df

     name            clan                  email
0     Ali         Sagaras        ali@sagaras.com
1    Raib           Bulan         raib@bulan.com
2    Seli        Matahari      seli@matahari.com
3     Ily  Matahari Minor  ily@matahariminor.com
4   Lumpu          Nebula       lumpu@nebula.com
5  Kosong          Nebula      kosong@nebula.com